.about-parent-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-container{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.about-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.about-title{
    color: #b19cd9;
}

.about-line{
    width: 80%;
    height: 1px;
    background-color: #b19cd9;
}

.about-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.about-container2{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.about-top-section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.about-dev-title{
    color:#b19cd9;
}

.about-dev-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
}

.plugs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
}

.plugs-icon-container{
    display: flex;
    gap: 0.5rem;
}

.plug-icon{
    width: 1.2rem;
}

.img-box{
    display: grid;
    place-items: center;
}

.about-image{
    width: 10rem;
    z-index: 2;
}

.purple-box{
    height: 10rem;
    width: 10rem;
    background-color: #b19cd9;
    position: absolute;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    left: 0;
    right: 0;
}
