.mobile-post-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 5rem;
    height: 500px;
    width: 310px;
    z-index: 8;
    animation: hamburgerBackground 0.3s;
}

.post-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.post-title{
    margin-top: 1rem;
}

.post-text-area{
    outline: none;
    background-color: #ffffff;
    border-radius: 5px;
    height: 22.5rem;
    width: 90%;
}

.submit-post-button{
    width: 90%;
    height: 2rem;
    border-radius: 5px;
}