@media only screen and (max-width: 480px){

    /* Background Shapes */
    .square{
        position: absolute;
        height: 10rem;
        width: 10rem;
        background-color: #3c0c97;
        margin-bottom: 30rem;
        border-radius: 5px;
        rotate: 20deg;
        margin-right: 4rem;

    }

    .circle{
        position: absolute;
        height: 10rem;
        width: 10rem;
        background: #3c0c97;
        margin-top: 9rem;
        margin-left: 11.2rem;
        border-radius: 50%;
    }

    .triangle{
        position: absolute;
        rotate: -20deg;
        margin-top: 20rem;
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
        border-top: 10.3rem solid #3c0c97;
    }

    .signup-card-container{
        height: 40rem;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        z-index: 2;
        transition: all 0.3s ease 0s;
        margin-top: 4rem;
    }

    .login-title{
        line-height: 0;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: #b19cd9;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    input{
        background: none;
        outline: none;
        border: none;
        color:white;
        background-color: #1e1f22;
        height: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 1rem;
    }

    label{
        margin-left: 1.3rem;
    }

    .light-input{
        background: #f3f3f3;
        color: var(--light-text);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    }

    .login-button{
        margin-left: 1rem;
        margin-right: 1rem;
        height: 2.8rem;
        border-radius: 10px;
        border: none;
        background-color: #b19cd9;
        color: white;
        font-weight: 600;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.1s ease-in 0s;
    }


    .login-segment{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .line{
        height: 1px;
        width: 43%;
        background-color: #b19cd9;
    }

    .login-or-text{
        font-size: 0.8em;
    }

    .create-new-account-button{
        height: 2.8rem;
        width: 60%;
        background-color: #b19cd9;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600; 
        cursor: pointer;
        transition: all 0.1s ease-in 0s;
    }

    .signup-button{
        height: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

}



@media only screen and ((min-width: 481px)){


    .signup-card-container{
        height: 40rem;
        width: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        z-index: 2;
        transition: all 0.3s ease 0s;
        margin-top: 3rem;
    }

    .login-title{
        line-height: 0;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: #b19cd9;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }

    input{
        background: none;
        outline: none;
        border: none;
        color:white;
        background-color: #1e1f22;
        height: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        padding-left: 1rem;
        font-size: 1rem;
    }

    label{
        margin-left: 1.3rem;
    }

    .light-input{
        background: #f3f3f3;
        color: var(--light-text);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    }

    .login-button{
        margin-left: 1rem;
        margin-right: 1rem;
        height: 2.8rem;
        border-radius: 10px;
        border: none;
        background-color: #b19cd9;
        color: white;
        font-weight: 600;
        margin-top: 1rem;
        cursor: pointer;
        transition: all 0.1s ease-in 0s;
    }


    .login-segment{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .line{
        height: 1px;
        width: 43%;
        background-color: #b19cd9;
    }

    .login-or-text{
        font-size: 0.8em;
    }

    .signup-button{
        height: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .create-new-account-button{
        height: 2.8rem;
        width: 60%;
        background-color: #b19cd9;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 600; 
        cursor: pointer;
        transition: all 0.1s ease-in 0s;
    }

}


.already-have-an-account{
    font-size: 0.8em;
}