:root{
  /* Dark Theme */
  --dark-background: #313338;
  --dark-card-background: rgba(128, 126, 153, 0.226);
  --dark-text: #ffffff;

  /* Light Theme */
  --light-background: #f3f1f1;
  --light-card-background: #ffffff9d;
  --light-text: #2c2c2c;

  /* Default */
  --current-background: var(--dark-background);
  --current-text: var(--current-text);
}

/* Global Class Names */

*{
  margin: 0;
  font-family: 'Roboto Mono';
}

/* General Background color and text color */
.dark{
  background-color: var(--dark-background);
  color: var(--dark-text);
}

.light{
  background-color: var(--light-background);
  color: var(--light-text);
}

/* Cards by theme */
.light-card{
  background-color: var(--light-card-background);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}

.dark-card{
  background-color: var(--dark-card-background);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1),0 1px 2px -1px rgba(255, 255, 255, 0.1);
}

/* Text by theme */
.light-text{
  background-color: var(--light-text);
}

.dark-text{
  background-color: var(--dark-text);
}

/* button */
.button{
  background-color: #b19cd9;
  color: white;
  border: none;
  cursor: pointer;
}

/* small text */
.small-font{
  font-size: 0.8em;
}

.spacing{
  margin-left: 1rem;
  margin-right: 1rem;
}

/* flexbox */

.flexboxCol {
  display: flex;
  flex-direction: column;
}

.container{
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Anchor */
a{
  text-decoration: none;
  color: #b19cd9;
}

.purple{
  color: #b19cd9;
}


/* Scrollbar */

::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #b19cd9; 
  border-radius: 10px;
}